/* CSS Document */
/* IMPORTAÇÕES */
@import url("normalize.css");
@import url("hover.css");
/* FONTES */
@import url("../webfonts/myriad-pro-regular/stylesheet.css");
@import url("../webfonts/pf-agora-sans-pro-bold-italic/stylesheet.css");
@import url("../webfonts/pf-agora-sans-pro-light-italic/stylesheet.css");
@import url("../webfonts/pf-agora-sans-pro-medium/stylesheet.css");
@import url("../webfonts/pf-agora-sans-pro-medium-italic/stylesheet.css");
@import url("../webfonts/pf-agora-sans-pro-regular/stylesheet.css");
html {
	font-size: 62.5%;
}

/* RELATIVO A VERSAO ACIMA DE 768px */
@media screen and (min-width: 768px) {
.mobile {
	display: none !important;
	visibility: hidden !important;
}
}
/* LAYOUT GLOBAL */
* {
	text-rendering: optimizeLegibility;
}
body {
	background: url(../img/fundo.jpg) repeat-x left top #fefefe;
	color: #424242;
	font-family: 'pf_agora_sans_proMdIt';
	font-size: 2rem;
	margin: 0 auto;
	max-width: 2000px;
	min-width: 280px;
	position: relative;
	z-index: 2;
}
@media screen and (max-width: 1299px) {
.simbolo-logo-esquerda, .triangulo-lateral-direita {
	display: none;
	visibility: hidden;
}
}
@media screen and (min-width: 1300px) {
.simbolo-logo-esquerda, .triangulo-lateral-direita {
	display: block;
	position: absolute;
	top: 0;
	visibility: visible;
	z-index: 1000;
}
.simbolo-logo-esquerda {
	background: url(../img/simbolo.svg) no-repeat -170px -73px;
	background-size: 200%;
	height: 886px;
	left: 0;
	width: 165px;
}
.triangulo-lateral-direita {
	background: url(../img/fundo-topo-direita.png) no-repeat left top;
	height: 194px;
	right: 0;
	width: 68px;
}
}
.topo {
	height: 285px;
	margin: 0 auto;
	max-height: 142px;
	max-width: 1170px;
	padding: 0;
	padding-top: 5px;
	position: relative;
	width: 100%;
	z-index: 5;
}
#logo {
	left: 87px;
	max-width: 165px;
	position: absolute;
	top: 28px;
	width: 100%;
	z-index: 11;
}
.links-contato-container {
	float: left;
	height: 100rem;
	margin: 0 auto;
	max-height: 32px;
	max-width: 1170px;
	position: relative;
	width: 100%;
	z-index: 10;
}
.links-contato {
	background: url(../img/topo-contatos-fundo.png) no-repeat center bottom;
	float: right;
	height: 100rem;
	max-height: 52px;
	text-align: center;
	width: 72%;
}
.topo-email {
	display: inline-block;
	font-size: 1.4rem;
	vertical-align: middle;
}
.topo-email a {
	color: #000000;
}
.topo-email-icone {
	margin-bottom: 4px;
	margin-right: 7px;
	max-width: 14px;
	width: 100%;
}
.topo-telefones {
	color: #000000;
	display: inline-block;
	font-size: 1.7rem;
	margin-left: 27px;
	vertical-align: baseline;
}
.topo-telefones a {
	color: #000000;
}
.topo-telefones-icone {
	margin-bottom: 4px;
	margin-right: 6px;
	max-width: 17px;
	width: 100%;
}
.topo-telefones span {
	font-size: 1.4rem;
}
.banners .corpo, .titulos, .conteudos, #rodape, .rodape {
	position: relative;
	z-index: 5;
}
.navegacao {
	display: block;
	font-family: 'pf_agora_sans_probold_italic';
	font-size: 2rem;
	font-weight: bold;
	line-height: 2.1rem;
	margin: 0 auto;
	max-height: 47px;
	max-width: 900px;
	position: absolute;
	right: 0;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.035);
	text-transform: uppercase;
	top: 93px;
	width: 100%;
	z-index: 200 !important;
}
.navegacao ul {
	display: block;
	float: none;
	list-style: none;
	margin: 0 auto;
	max-height: 43px;
	max-width: 1170px;
	padding: 0;
	padding-bottom: 2%;
	position: relative;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	-webkit-padding-start: 0;
	text-align: center;
	width: 100%;
	z-index: 2;
}
.navegacao ul li {
	border-right: solid 1px #9b9b9b;
	display: inline-block;
	position: relative;
}
.navegacao ul li:last-child  {
	border-right: none;
}
.navegacao ul li a {
	color: #e53611;
	display: block;
	padding: 0 2.25rem;
	position: relative;
}
.navegacao ul li:first-child a {
	padding-left: 0;
}
.navegacao ul li:last-child a {
	padding-right: 0;
}
.navegacao ul li a:hover, .navegacao ul li a:focus {
	color: #ff6600;
	text-decoration: none;
}
.banners {
	display: none;
	float: left;
	margin: 0 auto;
	max-width: 2000px;
	padding-bottom: 1.55%;
	padding-top: .55%;
	position: relative;
	width: 100%;
	z-index: 9;
}
.banners:before {
	background: url(../img/banners-fundo-topo.png) no-repeat left top;
	content: "";
	display: block;
	height: 100rem;
	left: 0;
	max-height: 48px;
	max-width: 2000px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.banners:after {
	background: url(../img/banners-fundo-rodape.png) no-repeat left top;
	bottom: 0;
	content: "";
	display: block;
	height: 100rem;
	left: 0;
	max-height: 35px;
	max-width: 2000px;
	position: absolute;
	width: 100%;
	z-index: 1;
}
.banner {
	display: block;
	margin: 0 auto;
	max-width: 2000px;
	position: relative;
	width: 100%;
	z-index: 2;
}
.banners-nav-container {
	height: 100rem;
	left: 0;
	margin: 0 auto;
	max-height: 48px;
	max-width: 2000px;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 15;
}
.banners-nav {
	margin: 0 auto;
	max-width: 1140px;
	position: relative;
	width: 100%;
}
@media screen and (max-width: 1170px) and (min-width: 768px) {
.banners-nav {
	padding-left: 2%;
	padding-right: 2%;
}
}
@media screen and (max-width: 393px) {
.banners-nav-container {
	top: 35%;
}
.banners-nav {
	padding-left: 2.5%;
	padding-right: 2.5%;
}
}
.banners-nav-esq, .banners-nav-dir {
	height: 100rem;
	max-height: 48px;
	max-width: 27px;
	width: 100%;
}
.banners-nav-esq {
	background: url(../img/banners-nav-esq.svg) no-repeat left top;
	display: block;
	float: left;
}
.banners-nav-dir {
	background: url(../img/banners-nav-dir.svg) no-repeat left top;
	display: block;
	float: right;
}
.titulos-container {
	background: url(../img/titulos.png) no-repeat right top;
	background-size: 100% 100%;
	float: left;
	height: 100rem;
	margin: 0 auto;
	max-height: 223px;
	max-width: 2000px;
	position: relative;
	width: 100%;
	z-index: 9;
}
.titulos {
	margin: 0 auto;
	max-width: 1140px;
	position: relative;
	z-index: 9;
}
.titulos h1 {
	color: #ffffff;
	display: block;
	font-family: 'pf_agora_sans_proMdIt';
	font-size: 3.5rem;
	left: 3.2%;
	letter-spacing: .02rem;
	line-height: 3.2rem;
	max-width: 379px;
	padding: 0;
	padding-bottom: 10px;
	padding-top: 86px;
	position: absolute;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.035);
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 10;
}
.corpo {
	float: left;
	max-width: 2000px;
	position: relative;
	width: 100%;
}
.conteudos {
	margin: 0 auto;
	max-width: 1170px;
	min-height: 50px;
	padding: 2rem 1% 5px 3%;
	position: relative;
	width: 100%;
	z-index: 9;
}
@media screen and (max-width: 1220px) and (min-width: 768px) {
.conteudos {
	padding-left: 2%;
	padding-right: 2%;
}
}
.menu-interno {
	border: solid 1px #dcdcdc;
	display: inline-block;
	float: left;
	font-family: 'pf_agora_sans_probold_italic';
	font-size: 1.5rem;
	margin-right: 2%;
	padding: 1.2em 1.2em 1.2em 0.5em;
	position: relative;
	width: 26%;
	z-index: 9 !important;
}
.menu-interno-cabecalho {
	border-bottom: solid 1px #dcdcdc;
	color: #70950a;
	display: block;
	font-weight: 600;
	padding-bottom: .6em;
	text-transform: uppercase;
	width: 100%;
}
.menu-interno ul {
	list-style: none;
	margin-bottom: 0;
	margin-top: .6em;
	padding-left: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
.menu-interno ul li {
	border-bottom: solid 1px #dcdcdc;
	width: 100%;
}
.menu-interno ul li:last-child {
	border-bottom: none;
}
.menu-interno ul li a {
	color: #086a77;
	display: block;
	padding: .3em 0;
	width: 100%;
}
.menu-interno ul li:last-child a {
	padding-bottom: 0;
}
.menu-interno ul li a:before {
	content: "\bb";
	display: inline-block;
	height: 12px;
	margin-left: .4em;
	margin-right: .3em;
	width: 12px;
}
.conteudos-com-navegacao {
	display: inline-block;
	float: left;
	padding-bottom: 35px;
	position: relative;
	width: 70%;
	z-index: 9;
}
.conteudos-navegacao {
	background: #fefefe;
	margin: 0 auto;
	max-width: 2000px;
	padding-top: 16px;
	width: 100%;
}
.conteudos-navegacao span {
	background: #93dbdd;
	display: block;
	width: 100%;
}
.conteudos-navegacao a {
	display: block;
	margin: 0 auto;
	max-width: 1170px;
	padding: 12px 0 0 0;
	width: 100%;
}
.conteudos-navegacao a:hover {
	cursor: text;
}
.botao-voltar {
	display: block;
	height: 100rem;
	margin: 0 auto;
	margin-bottom: -17px;
	margin-right: 2%;
	max-height: 54px;
	max-width: 151px;
	position: relative;
	width: 100rem;
	z-index: 11;
}
.botao-voltar:hover {
	cursor: pointer;
}
#rodape {
	background: url(../img/rodape-fundo.jpg) repeat-x left top;
	color: #cc3300;
	float: left;
	font-family: 'pf_agora_sans_proregular';
	font-size: 2.5rem;
	letter-spacing: -.15rem;
	max-width: 2000px;
	min-height: 100px;
	padding-bottom: 15px;
	padding-top: 42px;
	width: 100%;
}
.rodape {
	margin: 0 auto;
	max-width: 1150px;
	padding: 0 2%;
	width: 100%;
}
@media and (max-width: 1170px) {
.rodape {
	padding: 0 2%;
}
}
.rodape a {
	color: #cc3300;
}
.rodape-icone {
	height: 100rem;
	margin-bottom: 5px;
	margin-right: 12px;
	max-height: 50px;
	max-width: 50px;
	width: 100%;
}
.endereco {
	display: inline-block;
	float: left;
	max-width: 401px;
	padding: 0;
	width: 37.034%;
}
.endereco span {
	display: inline-block;
	float: left;
	line-height: 2.5rem;
}
.endereco img {
	display: inline-block;
	float: left;
}
.email {
	display: inline-block;
	margin: 0 auto;
	max-width: 328px;
	width: 31.5%;
}
.telefone {
	display: inline-block;
	float: right;
	font-size: 2rem;
	max-width: 220px;
	position: relative;
	width: 20.318%;
}
.telefone span {
	display: block;
	float: right;
	font-size: 3rem;
	line-height: 2.6rem
}
.copyright-gosites {
	float: right;
	max-width: 260px;
	width: 100%;
}
.copyright {
	border-right: solid 2px #b9b9b9;
	color: #542428;
	display: inline-block;
	font-family: 'myriad pro regular';
	font-size: 2rem;
	margin: 0;
	margin-right: 8px;
	max-width: 73px;
	padding-right: 8px;
	padding-top: 5px;
	text-transform: uppercase;
	vertical-align: sub;
	width: 100%;
}
.copyright span {
	color: #cc3300;
	font-family: 'pf_agora_sans_proregular';
	font-weight: bold;
}
#gosites {
	color: #565656;
	display: inline-block;
	font-family: 'myriad pro regular';
	font-size: 1.1rem;
	letter-spacing: .05rem;
	margin-top: -23px;
	max-width: 170px;
	width: 100%;
}
.gosites {
	max-width: 76px;
	width: 100%;
}



@media screen and (max-width: 1144px) and (min-width: 768px) {
.email {
	width: 35vw;
}
.telefone {
	width: 35vw;
}
}
@media screen and (max-width: 1099px) and (min-width: 768px) {
#logo {
	left: 2%;
	max-width: 130px;
	top: 8px;
}
.navegacao {
	max-width: 1089px;
	top: 115px;
}
}
@media screen and (max-width: 1079px) and (min-width: 768px) {
.endereco {
	margin-right: 2.5%;
}
}
@media screen and (max-width: 982px) and (min-width: 768px) {
.endereco {
	display: block;
	float: left;
	margin: 0 auto;
	margin-bottom: 15px;
	max-width: 972px;
	text-align: center;
	width: 100%;
}
.email {
	float: left;
	width: 100%;
}
.telefone {
	margin-top: -70px;
}
.copyright-gosites {
	margin-top: -60px;
}
}





/******************* menu mobile MODAL *******************/
.menu-mobile-open {
	overflow: hidden;
}
.menu-mobile {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.menu-mobile.fade-menu-mobile .menu-mobile-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}
.menu-mobile.in .menu-mobile-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.menu-mobile-open .menu-mobile {
	overflow-x: hidden;
	overflow-y: auto;
}
.menu-mobile-dialog {
	position: relative;
	width: auto;
	margin: 0;
}
.menu-mobile-content {
	position: relative;
	background-color: transparent;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	border: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #f8f8f8;
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .99;
}
.menu-mobile-header {
	border-bottom: none;
	padding: 20px;
	position: relative;
	text-align: right;
	z-index: 1000;
}
.modal-header .fechar {
	margin-top: -2px;
}
.menu-mobile-title {
	line-height: 1.42857143;
	margin: 0;
	position: relative;
	z-index: 1000;
}
.menu-mobile-body {
	position: relative;
	padding: 0;
	z-index: 1000;
}
.menu-mobile-body .menu-movel {
	position: relative;
	z-index: 1000;
}
.menu-mobile-footer {
	display: none;
	visibility: hidden;
}

@media (min-width: 768px) {
.menu-mobile-dialog {
	width: 600px;
	margin: 0;
}
.menu-mobile-content {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.menu-mobile-sm {
	width: 300px;
}
}

@media (min-width: 992px) {
.menu-mobile-lg {
	width: 900px;
}
}

/******************* fim menu mobile *******************/








/* RELATIVO A VERSAO MOVEL */
@media screen and (max-width: 767px) and (min-width: 176px) {
* {
	text-rendering: geometricPrecision;
	-webkit-transition: all ease .7s;
	-moz-transition: all ease .7s;
	transition: all ease .7s;
}
.desktop {
	display: none !important;
	visibility: hidden !important;
}
a:focus {
	outline: none;
}
body {
	padding-top: 6.8rem;
}
.topo {
	display: none !important;
	visibility: hidden !important;
}
.mobile {
	display: block !important;
	visibility: visible !important;
}
.mobile-topo {
	background: #fefefd;
	box-shadow: rgba(221, 221, 221, 0.329412) 0px 1px 5px 0px;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 50;
}
#logo-mobile {
	float: left;
	height: 5.4rem;
	margin-bottom: .7rem;
	margin-left: .5rem;
	margin-top: .7143rem;
	max-width: 180px;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 51;
}
.logo-mobile {
	max-width: 77px;
	position: relative;
	z-index: 52;
}
#nav-mobile {
	height: 40px;
	margin-right: .5rem;
	margin-top: 1.44rem;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40px;
	z-index: 52;
}
#nav-mobile {
	position: fixed;
	z-index: 60;
}
.logo-mobile-menu {
	margin-top: 0.7857em;
	max-width: 179px;
}
/* botao fechar (menu) */
.fechar {
	max-width: 40px;
	position: absolute;
	right: .5em;
	top: 0px;
	width: 13%;
}
.fechar img {
	margin-right: .5em;
	margin-top: 1.44rem;
	width: 100%;
}
/* menu movel */
.menu-movel {
	list-style: none;
	margin-bottom: 0px;
	padding-left: 0px;
	text-align: center;
}
.menu-movel li a {
	color: #e53611;
	font-family: 'pf_agora_sans_probold_italic';
	font-size: 2.8rem;
	display: block;
	letter-spacing: -.02rem;
	margin-top: .2rem;
	padding: .01rem 1rem;
	text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.11);
	vertical-align: middle;
}
.menu-movel li a:hover {
	background: #e53611;
	color: #ffffff;
	text-decoration: none;
}
.banners-fundo {
	bottom: -8%;
}
.titulos-container {
	background-size: cover;
}
.corpo {
	margin-top: 0;
	padding-bottom: 5px;
}
.banners:after, .corpo:after {
	background-size: cover;
}
.titulos-container {
	max-height: 100px;
}
.titulos {
	padding-left: 2%;
}
.titulos h1 {
	font-size: 2.4rem;
	left: 0;
	letter-spacing: -.1rem;
	padding: 0;
	position: relative;
	top: 3vw;
	width: 257px;
}
.conteudos {
	font-size: 1.8rem;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 10px;
}
.menu-interno {
	display: block;
	float: none;
	font-size: 1.15em;
	margin-bottom: 10px;
	margin-right: 0;
	padding: .3em;
	width: 100%;
}
.menu-interno-cabecalho {
	border-bottom: solid 1px #dcdcdc;
	font-weight: 600;
	margin-bottom: 6px;
	padding-bottom: 2px;
	width: 100%;
}
.menu-interno ul li {
	border-bottom: 0;
	display: inline-block;
	margin-bottom: 6px;
	vertical-align: middle;
	width: 44.8vw;
}
.menu-interno ul li a {
	border: solid 1px #dcdcdc;
	display: block;
	padding: 2px 0;
	text-align: left;
	width: 100%;
}
.conteudos-com-navegacao {
	display: block;
	float: none;
	padding-bottom: 35px;
	position: relative;
	width: 100%;
	z-index: 9;
}
.rodape {
	padding-left: 2%;
	padding-right: 2%;
}
.endereco {
	border-bottom: solid 1px #dddddd;
	float: none;
	margin-bottom: 15px;
	margin-top: 0;
	max-width: 757px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	width: 100%;
}
.endereco img, .endereco span {
	float: none;
}
.endereco img {
	margin-bottom: 0px;
	margin-top: -40px;
}
.email, .telefone {
	border-bottom: solid 1px #dddddd;
	display: block;
	float: none;
	margin: 0 auto;
	margin-bottom: 15px;
	max-width: 757px;
	padding-bottom: 15px;
	text-align: center;
	width: 100%;
}
.telefone span {
	display: inline-block;
	float: none;
	margin-left: 5px;
	vertical-align: bottom;
}
.copyright-gosites {
	float: none;
	margin: 0 auto;
	width: 100%;
}
}
@media screen and (max-width: 374px) {
.endereco, .email {
	font-size: 1.8rem;
}
}